body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1d475;
    color: #333;
    text-align: center;
}

header {
    background-color: #703b09;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

header .logo {
    width: 80px;  /* تكبير الحجم */
    height: auto;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

header .menu-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

header p {
    margin: 5px 0;
}

.menu {
    margin: 20px;
}

.menu h2 {
    color: #ff6600;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff6600;
    color: #fff;
}

td {
    background-color: #fff;
    color: #333;
}

button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #703b09;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
footer {
    background-color: #703b09;  /* اللون البني */
    color: #fff;
    padding: 10px 0;
    position: relative; /* تغيير من fixed إلى relative */
    width: 100%;
    text-align: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}
@media (max-width: 768px){
    header .container {
        flex-direction: column;
        align-items: center;
    }

    header .menu-title {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    table, th, td {
        font-size: 14px;  /* تغيير حجم الخط للجداول */
    }

    .menu {
        margin: 10px;
    }
}


