body {
    font-family: 'Garamond', sans-serif;
    margin: 10PX;
    padding: 0;
    background-color: #FFFDD9;
    color: #333;
    text-align: center;
    background-image: url('15.jpg');
    background-repeat: repeat;
    background-size: 400px;
}

header {
    background-color: #a67b5b;
    color: #7B3F00;
    padding: 20px 0;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

header .logo {
    width: 100px;  /* تكبير الحجم */
    height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    


header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

header .menu-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #7B3F00;
    font-size: 50px;
    font-weight: bold;
}

header p {
    margin: 5px 0;
}

.menu {
    margin: 20px;
}

.menu h2 {
    color: #d74f10;
    margin: 30px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: #FFF2CC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h3 {
    color: #7B3F00;
}

.product-card p {
    margin: 10px 0;
}

button {
    background-color: #8b572a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #FFA500;
}

.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

footer {
    background-color: #a67b5b;  /* اللون البني */
    color: #fff2cc;
    padding: 10px 0;
    position: relative;  /* تغيير من fixed إلى relative */
    width: 100%;
    text-align: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    header .menu-title {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    .menu {
        margin: 10px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }
}
